<h1>
    <small>made with love</small>
    <strong class="icn-heart"></strong>
    <strong>Jan Müller <small>Elektronik</small></strong>
    <strong>Holger Schauf<small>Interface / Programmierung holger-schauf.de</small></strong>
</h1>

<section class="debug cf" style="visibility:hidden">
    <ul class="buttons">
        <li v-for="button in state.buttons" v-bind:class="{ 'active': button.state.isPressed}">
            \{{button.state.name}} \{{button.state.pin}}
        </li>
    </ul>
    <div class="volume">
        \{{state.volume}}%
    </div>
</section>
<section class="row">
    <ul class="album-list cf \{{state.pressed.first && state.pressed.first.name ? state.pressed.first.name : ''}} " v-show="album.current === false">
        <li v-for="current in album.list">
            <div class="album">
                <div class="image" style="background-image: url(\{{current.cover}})">

                </div>
                <div class="info">
                    <h3>\{{current.albumartist ? current.albumartist : 'kein interpret'}}</h3>
                    <h4>\{{current.album ? current.album : 'kein album' }}</h4>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="row">

    <div class="album-info" v-show="album.current !== false">

        <span class="back"><i class="icn-arrow-left"></i>A1 für zurück</span>

        <div class="image" style="background-image: url(\{{album.current.cover}})">

        </div>

        <h3>\{{album.current.albumartist}}</h3>
        <h4>\{{album.current.album}}</h4>

        <strong>\{{album.current.tracks.length}} Songs</strong>

        <div class="grd-1 rock">

            <i class="icn-rock"></i>
        </div>
    </div>

    <ul class="album-track-list" v-show="album.current !== false">
        <li v-for="track in album.current.tracks" v-bind:class="{ 'active': album.activeTrack.title === track.title}">
            <div class="album">
                <div class="image">
                    <i class="icn-music"></i>
                </div>
                <div class="info">
                    <h3>\{{track.title ? track.title : 'kein titel'}}</h3>
                </div>
            </div>
        </li>
    </ul>
</section>
