<h1>
    <small>made with love</small>
    <strong class="heart">&#9829;</strong>
    <strong>Jan Müller</strong>
    <strong>Holger Schauf</strong>
</h1>

<section class="debug cf">
    <ul class="buttons">
        <li v-for="button in state.buttons" v-bind:class="{ 'active': button.state.isPressed}">
            \{{button.state.name}} \{{button.state.pin}}
        </li>
    </ul>
    <div class="volume">
        \{{state.volume}}%
    </div>
</section>
<section class="row">
    <ul class="album-list cf \{{state.pressed.first && state.pressed.first.name ? state.pressed.first.name : ''}} " v-show="album.current === false">
        <li v-for="current in album.list">
            <div class="album">
                <img :src="current.cover" />
                <div class="info">
                    <h3>\{{current.albumartist}}</h3>
                    <h4>\{{current.album}}</h4>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="row">

    <div class="album-info" v-show="album.current !== false">
        <img :src="album.current.cover" />
        \{{album.current.albumartist}}
        \{{album.current.album}}
    </div>

    <ul class="album-track-list" v-show="album.current !== false">
        <li v-for="track in album.current.tracks">
            <div class="album">
                <div class="info">
                    <h3>\{{track.title}}</h3>
                    <h4>\{{current.album}}</h4>
                    <h4>\{{current.duration}}</h4>
                </div>
            </div>
        </li>
    </ul>
</section>
